BasedOnStyle: LLVM
AlignConsecutiveAssignments: 'true'
AlignTrailingComments: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '0'
IndentWidth: '2'
ObjCSpaceAfterProperty: 'true'
ObjCSpaceBeforeProtocolList: 'true'
SpacesBeforeTrailingComments: '1'
TabWidth: '2'
UseTab: Never
