[submodule "S3R_Production/Shimmer_Driver/LSM303AH/lsm303ah-pid"]
	path = S3R_Production/Shimmer_Driver/LSM303AH/lsm303ah-pid
	url = https://github.com/STMicroelectronics/lsm303ah-pid/
[submodule "S3R_Production/Shimmer_Driver/LSM6DSV/lsm6dsv-pid"]
	path = S3R_Production/Shimmer_Driver/LSM6DSV/lsm6dsv-pid
	url = https://github.com/STMicroelectronics/lsm6dsv-pid/
[submodule "S3R_Production/Shimmer_Driver/LIS3MDL/lis3mdl-pid"]
	path = S3R_Production/Shimmer_Driver/LIS3MDL/lis3mdl-pid
	url = https://github.com/STMicroelectronics/lis3mdl-pid/
[submodule "S3R_Production/Shimmer_Driver/BMP3/BMP3_SensorAPI"]
	path = S3R_Production/Shimmer_Driver/BMP3/BMP3_SensorAPI
	url = https://github.com/ShimmerEngineering/BMP3_SensorAPI
